/UpgradeLog.htm
/src/**/bin/**/*
/src/**/obj/**/*
/.vs
/.vscode
/.ai
/.idea

*txt
*db
*GEMINI*
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.deps.json
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.dll
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.exe
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.pdb
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.runtimeconfig.json
/src/ApiGateway/bin/Debug/net8.0/ApiGateway.staticwebassets.endpoints.json
/src/ApiGateway/bin/Debug/net8.0/appsettings.Development.json
/src/ApiGateway/bin/Debug/net8.0/appsettings.json
/src/ApiGateway/bin/Debug/net8.0/Google.Protobuf.dll
/src/ApiGateway/bin/Debug/net8.0/Grpc.Core.Api.dll
/src/ApiGateway/bin/Debug/net8.0/Grpc.Net.Client.dll
/src/ApiGateway/bin/Debug/net8.0/Grpc.Net.Common.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/src/ApiGateway/bin/Debug/net8.0/Microsoft.OpenApi.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.AspNetCore.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/src/ApiGateway/bin/Debug/net8.0/Serilog.Sinks.File.dll
/src/ApiGateway/bin/Debug/net8.0/Shared.Contracts.dll
/src/ApiGateway/bin/Debug/net8.0/Shared.Contracts.pdb
/src/ApiGateway/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/src/ApiGateway/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/src/ApiGateway/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/src/ApiGateway/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/src/ApiGateway/bin/Debug/net8.0/System.IO.Hashing.dll
/src/ApiGateway/bin/Debug/net8.0/Yarp.ReverseProxy.dll
